<script src="assets/highcharts.js"></script>
<script src="assets/exporting.js"></script>

<script type="text/javascript" charset="utf-8">
	$(function(){
		new Highcharts.Chart({
			chart: {
				renderTo: "calls_chart"
			},
			title: {
				text: "Calls By Day"
			},
			xAxis: {
				type: "datetime"
			},
			yAxis: {
				title: {
					text: "Calls"
				}
			},
			series: [{
				pointInterval: <%= 1.day * 1000 %>,
				pointStart: <%= 3.weeks.ago.to_i * 1000 %>,
				data: <%= (3.weeks.ago.to_date..Date.today).map { |date| Call.total_on(date).to_i}.inspect %>
			}]
		});
	});
</script>

<div id="calls_chart" style="width:1000px; height:300px;">

</div>