<p> A new call has arrived for <%= @target %> from <%= @caller %> </p>

<p><a href="http://imageshare-phones.herokuapp.com/admin/calls/" + <%=call.id %> + '/edit'>Click Here to View New Accounts</a></p>